<!-- This loops through the paginated posts -->
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} {%
for post in paginator.posts %}
<h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>

<div class="post-meta date">{{ post.date | date: date_format }}</div>

<div class="post-meta tags">
  {% for tag in post.tags %}
  <a href="{{ '/tags' | relative_url | append: '#' | append: tag }}" class="tag"
    >{{ tag }}</a
  >
  {% endfor %}
</div>

<div>
  {%- if site.show_excerpts -%}
  <p>{{ post.excerpt }}</p>
  {%- endif -%}
</div>

{% comment %}
<div class="paginate-content">{{ post.content }}</div>
{% endcomment %} {% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a
    href="{{ paginator.previous_page_path | relative_url }}"
    class="previous available"
    >Prev</a
  >
  {% else %}
  <span class="previous">Prev</span>
  {% endif %}
  <span class="page-number">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}" class="next available"
    >Next</a
  >
  {% else %}
  <span class="next">Next</span>
  {% endif %}
</div>
