@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.8 !default;
$spacing-unit: 30px !default;

$text-color: #333 !default;

$background-color: #ffffff !default;

// $background-color: #ECEFF4 !default;

$brand-color: #2a7a92 !default;

// $brand-color: #4C566A !default;
$brand-color-light: lighten($brand-color, 25%) !default;

// $brand-color-old: #2a7a92 !default;
$brand-color-light: lighten($brand-color, 25%) !default;
$brand-color-light-02: lighten($brand-color-light, 25%) !default;

// $heading-color: #5a9a9e !default;
$heading-color: $brand-color !default;

$grey-color: #999 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark: darken($grey-color, 20%) !default;
$border-color-01: lighten($grey-color, 25%) !default;
$border-color-02: lighten($border-color-01, 5%) !default;
$border-color-03: lighten($border-color-02, 5%) !default;

// $code-background-color: #f5f5f5 !default;
// $code-background-color: #D8DEE9 !default;
$code-background-color: #f5f5f5 !default;

// $quoteblock-background-color: #f9f9f9 !default;
// $quoteblock-background-color: #E5E9F0 !default;
$quoteblock-background-color: #f9f9f9 !default;
$quoteblock-code-background-color: darken($quoteblock-background-color, 5%) !default;

$link-color: #2a7ae2 !default;

$site-title-color: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;
$sideview-width: 300px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

$on-medium: $on-palm !default;

// $on-large: $on-laptop !default;
$on-large: 1000px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// source code

$code-font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Liberation Mono", "Courier New", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;

$code-font-size: 15px;

// Import partials.

@import "minima/base";
@import "minima/layout";
@import "minima/syntax-highlighting";
