/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
    flex: 1 0 auto;
}

.page-heading {
    @include relative-font-size(2);
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $brand-color;
}

.post-link {
    display: block;

    @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
    @include relative-font-size(2.625);

    letter-spacing: -1px;
    line-height: 1.15;

    @media screen and (min-width: $on-large) {
        @include relative-font-size(2.625);
    }
}

.post-content {
    padding-top: $spacing-unit;
    border-top: 4px solid $brand-color-light-03;

    // border-top: 4px solid $brand-color-light-03;
    margin-bottom: $spacing-unit * 2;

    > p:first-child {
        margin-top: $spacing-unit / 2;
    }

    > ul:first-child,
    > h1:first-child,
    > h2:first-child,
    > h3:first-child,
    > h4:first-child,
    > h5:first-child,
    > h6:first-child {
        margin-top: $spacing-unit;
    }
}

.content {
    padding-bottom: $spacing-unit;

    // margin-top: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $spacing-unit * 2;
        margin-bottom: $spacing-unit / 2;
    }

    h2 {
        @include relative-font-size(1.75);

        @media screen and (min-width: $on-large) {
            @include relative-font-size(2);
        }
    }

    h3 {
        @include relative-font-size(1.375);

        @media screen and (min-width: $on-large) {
            @include relative-font-size(1.625);
        }
    }

    h4 {
        @include relative-font-size(1.25);
    }

    h5 {
        @include relative-font-size(1.125);
    }

    h6 {
        @include relative-font-size(1.0625);
    }
}

h1.page-heading,
h1.post-title {
    margin-top: $spacing-unit;
}

.social-media-list {
    display: table;

    li {
        // float: left;
        margin: 5px 25px 5px 0;
        display: inline-block;

        &:last-of-type {
            margin-right: 0;
        }

        a {
            display: block;
            padding: 10px 12px;

            // border: 1px solid $border-color-01;

            &:hover {
                border-color: $border-color-02;
            }
        }
    }
}

/**
 * Pagination navbar
 */
.pagination {
    margin-bottom: $spacing-unit;

    @extend .social-media-list;

    li {
        a,
        div {
            min-width: 41px;
            text-align: center;
            box-sizing: border-box;
        }

        div {
            display: block;
            padding: $spacing-unit / 4;
            border: 1px solid transparent;

            &.pager-edge {
                color: $border-color-01;
                border: 1px dashed;
            }
        }
    }
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
    .one-half {
        width: calc(50% - (#{$spacing-unit} / 2));
    }
}

.comments {
    border-top: 1px solid $border-color-01;
    margin-top: 60px;
}

/**
 * Source code copying button
 */
.highlight {
    position: relative;
}

.copy-code-button {
    background: $background-color;
    cursor: pointer;
    padding: 5px 8px;
    font-weight: 900;
    color: $grey-color-dark;
    top: 10px !important;
    right: 10px !important;
    position: absolute;
    border: none;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.highlight:hover .copy-code-button {
    display: block;
}

.copy-code-button.copybtn-check {
    display: block;
    background: $brand-color;
    color: white;
}

/**
* Pagination
*/
.pagination {
    margin: 100px 0 20px;

    .previous,
    .next {
        color: $brand-color-light;
        padding: 10px 20px;
        border-radius: 10px;
        display: inline-block;
        background-color: $brand-color-light-02;
        width: 60px;
        text-align: center;
    }

    .page-number {
        width: 200px;
        display: inline-block;
        text-align: center;
        color: $brand-color;
    }

    .previous.available,
    .next.available {
        color: $brand-color;
    }

    .previous.available:hover,
    .next.available:hover {
        background-color: $brand-color;
        color: $background-color;
    }

    @include media-query($on-palm) {
        width: 100%;

        .page-number {
            width: calc(100% - 200px);
        }
    }
}

.prev-and-next {
    padding: ($spacing-unit / 2) 0 0;
    width: 100%;
    display: flex;
    border-top: 1px solid $border-color-01;
    align-items: stretch;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $spacing-unit;
    }

    > div {
        margin: 0 auto;
        width: calc(49% - (#{$spacing-unit} * 2));
        padding: 0 ($spacing-unit / 2);

        @include media-query($on-palm) {
            width: calc(49% - 20px);
            padding: 0 0;
        }


        > div > p {
            padding-top: 0;
            margin-top: 0;
        }
    }

    > a:hover {
        text-decoration: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
}

strong {
    font-size: 120%;
}

hr {
    background-color: $border-color-01;
    border: none;
    border-top: 1px solid $brand-color-light-02;
    width: 30%;
    margin-left: 0%;
    margin: ($spacing_unit * 2) 0;
}

.paginate {
    margin-top: $spacing-unit / 2;
}

/** 
 * Tags
 */
.tags {
    margin-bottom: 5px;

    .tag {
        display: inline-block;
        margin: 5px;
        margin-left: 0px;
    }
}

a.tag {
    background-color: $nord6;
    padding: 1px 8px;
    border-radius: 8px;
    color: $nord9;

    &:hover {
        color: $nord10;
    }
}

.tags-page {
    position: relative;
}

.content .sticky-heading {
    top: 0;
    position: sticky;
    display: block;
    background-color: $background-color;
    z-index: 111;
    padding: 5px 14px;
    margin: 10px -14px;
}

/**
 * Paginate items
 */
.paginate-list {
    margin-top: 0;
    margin-bottom: $spacing-unit * 2;
    display: flex;
    gap: ($spacing-unit * 1.5) $spacing-unit;
    flex-wrap: wrap;
    border-radius: 6px;
}

.paginate-item {
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    background-color: $background-color;
    margin: 0;
    width: 100%;

    @media screen and (min-width: $on-large) {
        width: $content-width / 2 - $spacing-unit * 1.5;
    }

    .paginate-item-header {
        > div {
            position: relative;
            font-family: $code-font-family;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        > div.small {
            font-size: 300%;
            letter-spacing: -5px;
            line-height: 2.5rem;
            color: $background-color;
            color: $nord5;
            width: calc(100% - #{$spacing-unit / 4});
            padding: 0;
            margin: 0;
        }

        > div.big {
            color: $nord9;
            top: 0;
            position: absolute;
            font-size: 600%;
            overflow-x: hidden;
            overflow-y: hidden;
            width: calc(100% - #{$spacing-unit / 2});
            text-transform: capitalize;
            letter-spacing: -10px;
            white-space: nowrap;
        }

        position: relative;
        background-color: $nord8;
        background: linear-gradient(45deg, $nord7, $nord9);
        border-radius: 6px 6px 0 0;
        height: 100px;
        margin: 0px;
        padding: $spacing-unit / 2;
        padding-top: $spacing-unit;
        overflow-y: hidden;
    }

    .paginate-item-body {
        > h2:first-child,
        > h3:first-child {
            margin-top: 0;
        }

        padding: $spacing-unit / 2;
    }

    &:hover {
        box-shadow: 0px 8px 16px 5px rgba(0, 0, 0, 0.15);
    }

    color: $nord3;
}

/** 
 * Table of contents
 */
.toc {
    display: none;
}

a.category {
    color: $nord15;
    display: inline-block;
    margin-bottom: 10px;
}

.blogtop-tags-list {
    // padding: 10px 0;
    margin: ($spacing-unit / 2) 0;
    padding: ($spacing-unit / 2) 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    > a.tag {
        // line-height: $base-line-height * $base-font-size * 1.5;
        margin: 5px;
        display: inline-block;
    }
}

.posts {
    .paginate-list.post-card-list {
        display: block;

        > .paginate-item {
            width: 100%;
            margin: 0 0 ($spacing-unit * 1.5);
        }
    }
}
