/**
 * Paginate items
 */
.paginate-list {
  margin-top: 0;
  margin-bottom: calc($spacing-unit * 2);
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  gap: calc($spacing-unit * 1.5) $spacing-unit;
}

.paginate-item {
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  margin: 0;
  background-color: $background-color;
  width: 100%;

  @media screen and (min-width: $on-large) {
    width: calc($content-width / 2 - $spacing-unit * 1.5);
  }

  @media screen and (min-width: $on-laptop) and (max-width: $on-large) {
    // width: $content-width-on-palm / 2 - $spacing-unit * 1.5;
    width: calc($content-width / 2 - $spacing-unit * 1.5);
  }

  .paginate-item-header {
    > div {
      position: relative;
      font-family: $code-font-family;
    }

    > div.small {
      font-size: 300%;
      letter-spacing: -5px;
      line-height: 2.5rem;
      color: $nord5;
      overflow-x: hidden;
      overflow-y: hidden;
      width: calc(100% - calc($spacing-unit / 4));
      padding: 0;
      margin: 0;
    }

    > div.big {
      color: $nord9;
      top: 0;
      position: absolute;
      font-size: 600%;
      overflow-x: hidden;
      overflow-y: hidden;
      width: calc(100% - calc($spacing-unit / 2));

      // text-transform: capitalize;
      letter-spacing: -10px;
      white-space: nowrap;
    }

    position: relative;
    background-color: $nord8;
    background: linear-gradient(45deg, $nord7, $nord9);
    border-radius: 6px 6px 0 0;
    height: 100px;
    margin: 0px;
    padding: calc($spacing-unit / 2);
    padding-top: $spacing-unit;
    overflow-y: hidden;

    // text-align: right;
  }

  .paginate-item-body {
    > h2:first-child,
    > h3:first-child {
      margin-top: 0;
    }

    padding: calc($spacing-unit / 2);
    padding-bottom: calc($spacing-unit / 1.5);
  }

  &:hover {
    box-shadow: 0px 8px 16px 5px rgba(0, 0, 0, 0.1);
  }

  color: $nord3;
}

/**
 * Prev and Next button below of posts.
 */
.pagination {
  .previous,
  .next {
    color: $brand-color-light;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    background-color: $brand-color-light-02;
    width: 60px;
    text-align: center;
  }

  .page-number {
    width: calc(100% - 210px);
    display: inline-block;
    text-align: center;
    color: $brand-color;
  }

  .previous.available,
  .next.available {
    color: $brand-color;
  }

  .previous.available:hover,
  .next.available:hover {
    background-color: $brand-color;
    color: $background-color;
  }

  width: 100%;

  @media screen and (min-width: $on-large) {
    width: 450px;
    margin: $spacing-unit auto;
  }
}
