<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <div class="flex-container">
      <main class="content" aria-label="Content">
        <div class="wrapper">{{ content }}</div>

        {%- if layout.commentable -%}
        <div class="wrapper comments">
          <script
            src="https://utteranc.es/client.js"
            repo="sano-jin/blog"
            issue-term="pathname"
            label="comment"
            theme="github-light"
            crossorigin="anonymous"
            async
          ></script>
        </div>
        {%- endif -%}
      </main>

      {%- unless layout.hidesideview -%} {%- include sideview.html -%} {%-
      endunless -%}
    </div>

    {%- include footer.html -%}
  </body>
</html>
