---
layout: default
---

<div class="home page-content">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="tags-content">{{ content }}</div>

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

  <div class="tags-page">
    {% for tag in site.tags %}
    <div class="tag-posts">
      <h2 class="sticky-heading" id="{{ tag[0] }}">
        <i class="fa-solid fa-tag"></i>

        {{ tag[0] }}
      </h2>

      <div class="tag-posts-list paginate-list">
        {% for post in tag[1] %}
        <div class="paginate-item">
          <div class="paginate-item-header">
            <div class="big">{{ post.categories[0] }}</div>
            {% assign splitted_category = post.categories[0] | split: " " %}
            <div class="small">
              {% for word in splitted_category %}
              <div>{{ word }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="paginate-item-body">
            <h3>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>

            <div class="post-meta date">
              {{ post.date | date: date_format }}
            </div>

            <div class="categories">
              {% for category in post.categories %}
              <a
                href="{{ '/categories' | relative_url | append: '#' | append: category }}"
                class="category"
              >
                <i class="fa-solid fa-tags"></i>

                {{ category }}</a
              >
              {% endfor %}
            </div>

            <div class="post-meta tags">
              {% for tag in post.tags %}
              <a
                href="{{ '/tags' | relative_url | append: '#' | append: tag }}"
                class="tag"
              >
                <i class="fa-solid fa-tag"></i>

                {{ tag }}</a
              >
              {% endfor %}
            </div>

            <div>
              {%- if site.show_excerpts -%}
              <p>{{ post.excerpt }}</p>
              {%- endif -%}
            </div>

            {% comment %}
            <div class="paginate-content">{{ post.content }}</div>
            {% endcomment %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
